body{
  text-align: center;
  background-color: #FCB97D;
}
p{
  display: none;
  border-style:double;
  border-color: red;
  margin: 100px;
  padding: 50px;
  font-size: 30px;
  background-color: #EDD892;
}
h1{
  font-size: 56px;
}
h3:hover {
  text-decoration: underline;
}
h3{
  cursor: pointer;
  color: #0088cc;
}
h4  {
  margin-top: 20px;
  margin-bottom:20px;
  color: #A62639;
  font-size: 20px;
}
